@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, "sans-serif";
  font-size: 16px;
}
button:hover {
  opacity: 0.6;
}
button:active {
  opacity: 1;
}
main {
  max-width: 600px;
  margin: 50px auto 0;
  border: 1px solid gainsboro;
  padding: 15px;
  border-radius: 4px;
}
label {
  display: block;
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 5px;
  cursor: pointer;
}
.submitBtn {
  width: 100%;
  padding: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.question {
  font-size: 25px;
  font-weight: 500;
}

.scoreboard {
  position: relative;
  top: 0;
  left: 0;
  min-height: 100vh;
  background-color: #33333321;
  display: grid;
  place-content: center;
}
.result {
  max-width: fit-content;
  background-color: white;
  padding: 30px 50px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 50px auto 0;
  border: 1px solid gainsboro;
}
.result h1 {
  font-size: 20px;
  margin-bottom: 10px;
  font-weight: 500;
}
.result button {
  border: none;
  background-color: blue;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}
