* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s ease-in-out;
  font-family: sans-serif;
}
main {
  max-width: fit-content;
  margin-inline: auto;
}
main header {
  display: flex;
  align-items: center;
  gap: 10px;
  justify-content: space-between;
  padding-inline: 10px;
  margin-block: 20px 5px;
}
section {
  display: grid;
  gap: 5px;
  padding: 10px;
  grid-template-columns: repeat(3, 1fr);
}
img {
  width: 100%;
  max-width: 250px;
  cursor: pointer;
}
img:hover {
  transform: scale(99%);
  opacity: 90%;
}
select {
  padding: 5px;
  cursor: pointer;
}
